body{
  margin: 20px;
}
.my-img{
  width: 150px;
  border-radius: 20px;
}

.card{
  color: #2b2839;
  margin: auto;
  width: 400px;
  text-align: center;
  padding: 20px;
  display: flex ;
  justify-content: space-around;
  background-color: #ddebf8;
  border-bottom: 5px solid #d8cefe;
}

.img-div{
}

.contain{
}